.news-search {
    display: flex;
    max-width: 250px;
    position: relative;
    margin: 0 30px;
}

.news-search__input {
    height: 25px;
    width: 100%;
}

.news-search__button {
    width: 35px;
    height: 35px;
    background-color: #DDDDDD;
    border: 1px solid #000000;
    border-radius: 35px;
    position: absolute;
    right: -10px;
    top: -5px;
}

.news-search__button:hover {
    width: 45px;
    height: 45px;
    right: -15px;
    top: -10px;
}

.news-search__button:hover > svg {
    width: 20px;
    height: 20px;
}